<%- include("../common/head") %>

<div class="wrapper">
    <div class="header">
        <div class="card">
            <img src="http://www.holecardsclub.com/images/hulk_card.png" alt="微信头像">
            <span class="info name"><%=name%></span>
            <span class="info phone">Cel.<%=phoneNo%></span>
            <span class="info number">No.<%=cardNo%></span>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item">
                <h1>会员等级</h1>
                <span>Lv<%= level %></span>
            </div>
            <div class="weui-flex__item">
                <h1>帐户余额</h1>
                <span><%= balance %></span>
            </div>
            <div class="weui-flex__item">
                 <h1>积分</h1>
                <span><%= points %></span>
            </div>
         </div>
    </div>

    <div class="content">
        <div class="weui-grids">
            <a href="/personal/info" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <i class="fa fa-user-circle"></i>
                </div>
                <p class="weui-grid__label">
                    个人信息
                </p>
            </a>
            <a href="/pay/wechat" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <i class="fa fa-credit-card-alt"></i>
                </div>
                <p class="weui-grid__label">
                    帐户充值
                </p>
            </a>
            <a href="/personal/balance" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <i class="fa fa-money"></i>
                </div>
                <p class="weui-grid__label">
                    账目明细
                </p>
            </a>
            <a href="/personal/credits" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                   <i class="fa fa-file-text"></i>
                </div>
                <p class="weui-grid__label">
                    积分明细
                </p>
            </a>
            <a href="/match/result" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <i class="fa fa-search-plus"></i>
                </div>
                <p class="weui-grid__label">
                    战绩查询
                </p>
            </a>
            <a href="/match/apply" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                   <i class="fa fa-gamepad"></i>
                </div>
                <p class="weui-grid__label">
                    赛事报名
                </p>
            </a>
            <a href="/account/signIn" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <i class="fa fa-sign-in"></i>
                </div>
                <p class="weui-grid__label">
                    在线签到
                </p>
            </a>
            <a href="/personal/coupon" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <i class="fa fa-gift"></i>
                </div>
                <p class="weui-grid__label">
                    我的优惠券
                </p>
            </a>
            <a href="/personal/sprit" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                    <i class="fa fa-line-chart"></i>
                </div>
                <p class="weui-grid__label">
                    大师分排行
                </p>
            </a>
        </div>        
    </div>
</div>

<%- include("../common/footer") %>