<%- include("../common/head") %>
<div class="wrapper">
    <div class="weui-tab">
        <div class="weui-navbar">
            <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
                月度排行
            </a>
            <a class="weui-navbar__item" href="#tab2">
                年度排行
            </a>
        </div>
        <div class="weui-tab__bd">
            <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                <div class="weui-cells">
                    <% if(monthRanking.length) {%>
                        <% monthRanking.forEach(item,index)%>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                            <p><%= index %>-<%= item.name%></p>
                            </div>
                            <div class="weui-cell__ft"><%= item.total%>></div>
                        </div>
                    <%} else {%>
                         <div class="weui-loadmore weui-loadmore_line">
                            <span class="weui-loadmore__tips">暂无数据</span>
                        </div>
                    <% } %>
                </div>
            </div>
            <div id="tab2" class="weui-tab__bd-item">
                <div class="weui-cells">
                   <% if(yearRanking.length) {%>
                        <% yearRanking.forEach(item,index)%>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                            <p><%= index %>-<%= item.name%></p>
                            </div>
                            <div class="weui-cell__ft"><%= item.total%>></div>
                        </div>
                    <%} else {%>
                         <div class="weui-loadmore weui-loadmore_line">
                            <span class="weui-loadmore__tips">暂无数据</span>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../common/footer") %>